@model PeopleViewModel

@{
    ViewData["Title"] = "Person List";
}

<div class="people">
    <div class="d-flex justify-content-end">
        <form asp-action="Search" method="post">
            <label>Search: </label> 
            <input type="text" name="search" />
            <input type="submit" value="Filter"/>
        </form>
        <br />
        <br />
    </div>

    <br />

    <div class="d-flex justify-content-end">
        @if (ViewBag.Message != null)
        {
            <h6>@ViewBag.Message</h6>
        }
    </div>

    <div class="container">
        <div class="row bg-dark text-light fw-semibold p-1">
            <div class="col p-1">
                <h4>Id</h4>
            </div>
            <div class="col p-1">
                <h4>Name</h4>
            </div>
            <div class="col p-1">
                <h4>Number</h4>
            </div>
            <div class="col p-1">
                <h4>City</h4>
            </div>
            <div class="col"></div>
        </div>

        @foreach (var pers in Model.tempList)
        {
            <partial name="_personListPartial" model="@pers" />
            
        }
    </div>

    <div class="container add-person mt-5">
        <partial name="_CreatePerson" model="@Model.cpvm" />
    </div>
</div>