@model PeopleViewModel

@{
    ViewData["Title"] = "Person List";
}

<div class="people">
    <div class="d-flex justify-content-end">
        @*<form method="post">
            <label class="fw-bold">Search by name: </label><span class="tab"></span>
            <input class="rounded border-light" asp-for=Search type="search" />
            <span class="tab"></span><span class="tab"></span>
            <input asp-controller="PeopleList" asp-action="Search" class="form-button btn btn-success btn-sm" style="height=32px;" type="submit" value="Search" />
            <input asp-controller="PeopleList" asp-action="PeopleList" class="button btn btn-dark btn-sm" type="submit" value="Clear Search" />
            <div class="container case-sensitive d-flex justify-content-end fw-bold">
                <input class="form-check-input" type="checkbox" asp-for="CaseSensitive" />
                <span class="tab"></span>
                <p>Ignore case sensitivity</p>
            </div>
        </form>*@
        <form asp-action="Search" method="post">
            <label>Search: </label> 
            <input type="text" name="search" />
            <input type="submit" value="Filter"/>
        </form>
        <br />
        <br />
    </div>

    <br />

    <div class="d-flex justify-content-end">
        @if (ViewBag.Message != null)
        {
            <h6>@ViewBag.Message</h6>
        }
    </div>

    <div class="container">
        <div class="row bg-dark text-light fw-semibold p-1">
            <div class="col p-1">
                <h4>Id</h4>
            </div>
            <div class="col p-1">
                <h4>Name</h4>
            </div>
            <div class="col p-1">
                <h4>Number</h4>
            </div>
            <div class="col p-1">
                <h4>City</h4>
            </div>
            <div class="col"></div>
        </div>

        @foreach (var pers in PeopleViewModel.PeopleList)
        {
            <partial name="_personListPartial" model="@pers" />
            
        }
    </div>

    <div class="container add-person mt-5">
        <partial name="_CreatePerson" model="@Model.cpvm" />
    </div>
</div>