
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<h2> You can find me here: </h2>
<h3> https://www.linkedin.com/in/oskar-ferens-222799222/ </h3>
<h3> oskarferensjuniorjavadev@gmail.com </h3>

