
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<h2>Here you can check some of my projects</h2>
<ul class="list-unstyled">
    <li><a class="link" href="https://github.com/oskarferens/VendingMachine"><h5>Vending Machine - simple console program in C#</h5></a></li>
    <li><a class="link" href="https://github.com/oskarferens/HTML-CSS-"><h5>Page in HTML&CSS - my first contact with frontend</h5></a></li>
</ul>

