@model PeopleViewModel

<div class="card p-5">
    <div class="row mb-4">
        <div class="col">
            <button onclick="showPersonDetail()" class="btn btn-info last-piece-of-code">Show Persons Details</button>
            <button onclick="deletePerson()" class="btn btn-danger last-piece-of-code">Delete Person</button>
            <input id="person-id" class="form-control mt-2" type="text" placeholder="Put selected Person ID here" />
        </div>
    </div>
    <div class="row pb-3">
        <span class="fw-bold col">Name</span>
        <span class="fw-bold col">ID</span>

    </div>
    @foreach (var person in Model.tempList)
    {
            <partial name="_AjaxPeoplePartial" model="person" />
    }
</div>