@model Person


<div class="table-partial">
    <div class="row mb-4">
        <div class="col">@Model.Name</div>
        <div class="col">@Model.Id</div>
        <div class="col">@Model.City</div>
        <div class="col">@Model.PhoneNumber</div>
        <div></div>
    </div>
</div>