@model PeopleViewModel

<div class="card p-5">
    <div class="row mb-4">
        <div class="col">
            <button onclick="GetInfo()" class="btn btn-info last-piece-of-code">Show Details</button>
            <button onclick="deletePerson()" class="btn btn-danger last-piece-of-code">Delete Person</button>
            <input id="person-id" class="form-control mt-2" type="text" placeholder="Put Id" />
        </div>
    </div>
    <div class="row pb-3">
        <span class="fw-bold col">Name</span>
        <span class="fw-bold col">Id</span>
    </div>
    @foreach (var person in Model.tempList)
    {
        <partial name="_AjaxPersonPartial" model="person" />
    }
</div>