@model CityViewModel

<form asp-controller="City" asp-action="CreateCity" method="post">
    <h4 class="fw-bold mb-2">Add new city to list: </h4>
    <br />

    <div class="form">
        <label asp-for="CityName" class="fw-bold"></label>
        <input class="rounded border-light m-1" asp-for="CityName" />
        <span asp-validation-for="CityName"></span>
    </div>
    <div>
        <input class="form-button btn btn-success m-1" type="submit" value="Add City" />
    </div>
</form>
