@model LanguageViewModel

@foreach (var language in LanguageViewModel.LanguageList)
{
        <div class="row bg-light text-dark p-1">
            <div class="col p-1">
                <h4>@language.Name</h4>
            </div>
            <div class="col">
                <a class="btn btn-dark btn-sm" onclick="location.href =
            '@Url.Action("DeleteLanguage", "LanguageList", new{id = language.LanguageId})'">Delete</a>
            </div>
        </div>
}