<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib\css\bootstrap.css"/>
</head>
<body>
    <div class="logotype">
        <h1>Lorem Ipsum</h1>
    </div>

    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="Home" asp-action="Projects">Project</a></li>
                <li><a asp-controller="Doctor" asp-action="FeverCheck">Doctor</a></li>
                <li><a asp-controller="GuessingGame" asp-action="GuessingGame">GuessingGame</a></li>
                <li><a asp-controller="People" asp-action="Index">People</a></li>
                <li><a asp-controller="Country" asp-action="Index">Country</a></li>
                <li><a asp-controller="City" asp-action="Index">City</a></li>
                <li><a asp-controller="Language" asp-action="Index">Language</a></li>
                <li><a asp-controller="Ajax" asp-action="Index">Ajax</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="container-fluid">
        <p>
            &copy; @DateTime.Now.ToString("yyyy-MM-dd") Oskar Ferens
        </p>
    </footer>
    @await RenderSectionAsync("Scripts", required:false)
</body>
</html>
