@model PeopleViewModel


@foreach (var item in Model.tempList)
{
    <div class="container">
        <div class="list-group">
            <div class="row">
                <div class="list-group-item">
                    <div class="row text-center">
                        <div>
                            @item.Name
                        </div>
                        <div>
                            @item.PhoneNumber
                        </div>
                        <div>
                            @item.City
                        </div>
                        <div>
                            @item.Id
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}