@model CityViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<form asp-action="Create" method="post">
    <label asp-for="CityName"></label>
    <input asp-for="CityName" />
    <label asp-for="CountryId"></label>
    <select asp-for="CountryId" asp-items="@ViewBag.Country"></select>
    <input type="submit" value=" Create" />
</form>
