@model CountryViewModel

@{
    ViewData["Title"] = "Home";
}

<form asp-action="EditCountry" method="post">
    <input type="text" name="CountryName" placeholder="Name" value="@Model.CountryName">
    <input type="hidden" name="CountryId" value="@Model.CountryId">
    <input type="submit" value="Add" class="btn btn-primary">
</form>
