@model CreateLanguageViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <label asp-for="Language"></label>
    <input asp-for="Language" />
    <input type="submit" value=" Create" />
</form>
