@model PeopleViewModel

@{
    ViewData["Title"] = "Languages";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-center">
        <form asp-action="AddLanguage" method="post">
            <input type="text" name="LanguageName" placeholder="Language name">
            <input type="submit" value="Add language" class="btn btn-primary">
        </form>
    </div>
}



<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Languages
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.people)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <ul>
                        @foreach (var language in item.Languages)
                        {
                            <li>
                                @language.LanguageName
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-center">
        <form asp-action="AddLanguageToPerson" method="post">
            <select id="selectlist2" name="PersonId" asp-items="@ViewBag.People"></select>
            <select id="selectlist" name="LanguageId" asp-items="@ViewBag.Languages"></select>
            <input type="submit" value="Add language" class="btn btn-primary">
        </form>
    </div>
}